@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: #54575A;
    background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
}

.wrapper {
    position: relative;
    width: 1440px;
    min-height: 1379px;
    margin: auto;
    /* background-color: dodgerblue; */
}

.brand-img {
    position: absolute;
    width: 136.59px;
    height: 26.54px;
    left: 277.41px;
    top: 65.74px;
}

.title {
    position: absolute;
    width: 458px;
    height: 135px;
    left: 221px;
    top: 236px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 68px;
}


.text {
    position: absolute;
    width: 394px;
    height: 96px;
    left: 221px;
    top: 403px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.app-store-btn {
    position: absolute;
    left: 221px;
    top: 531px;

}

.app-store-btn img {
    width: 138.44px;
    height: 46.28px;
}

.google-playstore-btn {
    position: absolute;
    left: 381.81px;
    top: 531px;
}

.google-playstore-btn img {
    width: 156.19px;
    height: 46.28px;
}


.main-image-container {
    position: absolute;
    width: 535.72px;
    height: 309.27px;
    left: 683.28px;
    top: 229.73px;
}

.main-image-container img {
    height: 411.15px;
}

/* Bottom Images */

.profile-img {
    position: absolute;
    height: 444px;
    left: 737px;
    right: 479px;
    top: 686px;
}

.orders-img {
    position: absolute;
    height: 470px;
    left: 479px;
    right: 737px;
    top: 913px;
}

.home-img {
    position: absolute;
    height: 470px;
    left: 995px;
    right: 221px;
    top: 908px;
}

.cart-img {
    position: absolute;
    height: 222px;
    left: 221px;
    right: 995px;
    top: 1157px;


}

.product-img {
    position: absolute;
    height: 222px;
    left: 737px;
    right: 479px;
    top: 1157px;
}

/* Background Toggles */

.background-toggles {
    position: absolute;
    right: 150px;
    top: 70px;
    display: flex;
}

.background-toggles>div {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Backgrounds */

.background-1 {
    background-color: #dbe4e5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 60 60'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%238cb2e5' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M29 58.58l7.38-7.39A30.95 30.95 0 0 1 29 37.84a30.95 30.95 0 0 1-7.38 13.36l7.37 7.38zm1.4 1.41l.01.01h-2.84l-7.37-7.38A30.95 30.95 0 0 1 6.84 60H0v-1.02a28.9 28.9 0 0 0 18.79-7.78L0 32.41v-4.84L18.78 8.79A28.9 28.9 0 0 0 0 1.02V0h6.84a30.95 30.95 0 0 1 13.35 7.38L27.57 0h2.84l7.39 7.38A30.95 30.95 0 0 1 51.16 0H60v27.58-.01V60h-8.84a30.95 30.95 0 0 1-13.37-7.4L30.4 60zM29 1.41l-7.4 7.38A30.95 30.95 0 0 1 29 22.16 30.95 30.95 0 0 1 36.38 8.8L29 1.4zM58 1A28.9 28.9 0 0 0 39.2 8.8L58 27.58V1.02zm-20.2 9.2A28.9 28.9 0 0 0 30.02 29h26.56L37.8 10.21zM30.02 31a28.9 28.9 0 0 0 7.77 18.79l18.79-18.79H30.02zm9.18 20.2A28.9 28.9 0 0 0 58 59V32.4L39.2 51.19zm-19-1.4a28.9 28.9 0 0 0 7.78-18.8H1.41l18.8 18.8zm7.78-20.8A28.9 28.9 0 0 0 20.2 10.2L1.41 29h26.57z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.background-2 {
    background: #D3CCE3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E9E4F0, #D3CCE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.background-3 {
    background: #FBD3E9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BB377D, #FBD3E9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}